/*
Theme Name: Soopz
Version: 0.0.6.1
Description: A theme designed to help content creators create better.
Author: Wiser Sites
Author URI: https://wisersites.com/

*/


/* Table of Contents -----------------------------------------------------------
    - Defaults
    - Structure and Layout
    - Site header
    - Site Navigation
    - Content Area
    - Site footer
    - Media Queries
-------------------------------------------------------------------------------- */


/* Defaults -------------------------------------------------------------------- */
@import 'lib/sw-font/style.css';
html {
    height: 100%;
    margin-top: 0!important;
}

body {
    box-sizing: border-box;
    color: #30394f;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 100%;
    line-height: 2;
    margin: 0;
    position: relative;
}

body * {
    box-sizing: border-box;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input,
textarea,
select,
span.user_data {
    border: 2px solid #CED3DC;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1;
    min-height: 58px;
    padding: 20px;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    border: 2px solid #30394f;
}

textarea {
    overflow: hidden;
    resize: none;
}

span.ion-ios-plus-outline:before,
div.ion-ios-plus-outline:before {
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    color: #CED3DC;
    float: left;
    font-size: 57px;
    margin-top: 4px;
}

.button,
input[type="submit"] {
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    background: #30394f;
    border: 2px solid #30394f;
    color: #fff;
    font-size: 14px;
    font-weight: bolder;
    height: auto;
    line-height: 2;
    margin: 0;
    padding: 10px 30px;
    transition: all .5s ease-in-out;
}

.button:hover,
input[type="submit"]:hover {
    background: #6BCCE9;
    border: 2px solid #6BCCE9;
    color: #fff;
}

.button::before {
    font-size: 16px;
    font-weight: 400!important;
    line-height: 1;
    text-transform: none;
    vertical-align: middle;
}

.button.google-plus-button:before {
    content: "h";
    font-family: sw-icon-font;
    margin-right: 15px;
}

.button.google-plus-button {
    background: #df4b37;
    border: 2px solid #c44133;
    color: #fff;
}

.button.google-plus-button:hover {
    background: #c44133;
}

.button.facebook-button:before {
    content: "j";
    font-family: sw-icon-font;
    margin-right: 15px;
}

.button.facebook-button {
    background: #3a589e;
    border: 2px solid #2e4675;
    color: #fff;
}

.button.facebook-button:hover {
    background: #2e4675;
}

.button.twitter-button:before {
    content: "s";
    font-family: sw-icon-font;
    margin-right: 15px;
}

.button.twitter-button {
    background: #429cd6;
    border: 2px solid #3c87b2;
    color: #fff;
}

.button.twitter-button:hover {
    background: #3c87b2;
}

.button.popup-button,
.button.save-button {
    background-color: #fff;
    border-color: #fff;
    color: #30394f;
}

.button.popup-button:hover,
.button.save-button:hover {
    background: #30394f;
    border-color: #30394f;
    color: #fff;
}


/* Site Header ----------------------------------------------------------------- */

.header.twelve.columns {
    background: #f5f6f7;
    margin-bottom: 40px;
}

li.navbar-item.nine.columns {
    margin-bottom: 0
}

ul.navbar-list.logo {
    list-style: none;
    margin: 20px 20px 10px;
}

.user-menu.two.columns {
    max-width: 300px;
    position: relative;
    text-align: right;
    width: 100%;
}

span.ion-android-person.profile-image {
    background: #fff;
    border-radius: 50%;
    font-size: 30px;
    height: 56px;
    margin-left: 10px;
    min-width: 56px!important;
    padding: 10px 18px;
}

#container_login {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
}

#content_login {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#wrapper,
#content_login {
    height: 100%;
}

.login_page_headline {
    margin: 0;
}

.login_page_sign_buuttons>div.wp-social-login-widget {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
}

.wp-social-login-provider.wp-social-login-provider-facebook,
.wp-social-login-provider.wp-social-login-provider-google,
.wp-social-login-provider.wp-social-login-provider-twitter {
    display: inline-block;
    margin-right: 20px;
}

.wp-social-login-provider.wp-social-login-provider-twitter {
    margin-right: 0;
}

.wp-social-login-provider.wp-social-login-provider-facebook:after {
    background-image: url(/wp-content/themes/soopz-0-3/images/login_page_facebook.png);
    content: "";
    display: block;
    height: 56px;
    width: 183px;
}

.wp-social-login-provider.wp-social-login-provider-google:after {
    background-image: url(/wp-content/themes/soopz-0-3/images/login_page_gplus.png);
    content: "";
    display: block;
    height: 56px;
    width: 183px;
}

.wp-social-login-provider.wp-social-login-provider-twitter:after {
    background-image: url(/wp-content/themes/soopz-0-3/images/login_page_twitter.png);
    content: "";
    display: block;
    height: 56px;
    width: 183px;
}

.navbar {
    margin: 0 auto;
    width: 100%;
}

.menu-header-account-menu-container {
    border: 2px solid #CED3DC;
    border-radius: 0 0 4px 4px;
    display: none;
    float: right;
    right: 10px;
    position: absolute;
    width: 290px;
    z-index: 999;
}

span.profile-username {
    vertical-align: super;
}

.menu-header-account-menu-container ul li {
    list-style-type: none;
    padding: 10px 15px;
}

.user-menu ul li:hover {
    background: #CED3DC;
}

.menu-header-account-menu-container ul li a,
.user_data .profile-username {
    color: #30394F;
    font-weight: 500;
}

.user_data {
    display: table;
    padding-top: 10px;
    vertical-align: middle;
    margin-right: 10px;
}

.user_data>div:last-child {
    display: table-cell;
    line-height: 0;
    vertical-align: middle;
    width: 20%;
}

.user_data>div:first-child {
    display: table-cell;
    padding-right: 10px;
    vertical-align: middle;
}

.user_data>div>img {
    border-radius: 100%;
    height: auto;
    margin-bottom: 9px;
    padding: 10px;
    width: 100%;
}

.user-menu:hover .menu-header-account-menu-container {
    background: #fff;
    display: block;
}

.menu-header-account-menu-container:after {
    content: "";
    display: block;
    width: 100%;
}

.user-menu:hover .user_data {
    background: #CED3DC;
    border-radius: 4px 4px 0 0;
}

.textare_buttons {
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    display: inline-block;
    float: right;
    transition: all .5s ease-in-out;
}

.textare_buttons .button {
    font-size: 12px;
    padding: 5px 20px;
}

.text_area_items {
    clear: both;
    margin-top: 60px;
    max-width: 830px;
    position: relative;
}

.text_area_items input {
    border: 2px solid #79EB70;
    color: #79EB70;
}

.text_area_items input:hover,
.text_area_items input:active,
.text_area_items input:focus,
.text_area_items input:visited {
    background: #79EB70;
    border: 2px solid #79EB70;
    color: #fff;
}

ul.counters>li {
    font-size: 10px;
    letter-spacing: .5px;
}

ul.counters>li span:first-child {
    display: inline-block;
    padding-top: 5px;
}

ul.counters>li span.item_circle {
    border-radius: 100%;
    color: #CED3DC;
    margin-left: 10px;
}

.success_result {
    background: #79EB70;
    border-radius: 3px;
    clear: both;
    display: inline-block;
    padding: 15px;
}

.success_result p {
    letter-spacing: .5px;
    margin-bottom: 0;
    width: auto;
    word-spacing: 2px;
}

.success_result p span {
    display: inline-block;
    margin-right: 10px;
}

.post_row div {
    border: 2px solid #CED3DC;
    border-radius: 4px;
    color: #CED3DC;
    margin-bottom: 20px;
    padding: 20px;
}

.post_item_row,
.post_item_row a,
.post_item_row div {
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.post_item_row {
    box-shadow: 0 0 0 0 #CED3DC;
    position: relative;
}

.post_item_row:hover {
    border-color: #30394f;
    box-shadow: 0 10px 30px 0 #CED3DC;
    color: #EE464F;
}

.post_row div.new_post_item_row {
    border-color: #30394f;
    color: #30394f;
}

.all_posts {
    margin-top: 100px;
}

.all_posts h4 {
    float:left;
    margin: 40px 0;
    padding-top: 13px;
}

.post_row div span {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    width: 90%;
}

.post_row div i {
    float: right;
    font-size: 24px;
    line-height: 1.5;
}

#i_loading,
#i_loading_for_popup {
    height: 100%;
    width: 100%;
}

#i_loading img,
#i_loading_for_popup img {
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
}

.post_success_message,
.post_success_message_for_popup,
.i_post_actions_msg.copied {
    background: #79EB70;
    border-radius: 4px;
    color: #fff;
    display: none;
    font-size: 18px;
    top: -30px;
    padding: 10px 30px;
    position: absolute;
    margin-top: 30px;
    right:0;
    line-height: 1;
    width: 55%;
    text-align: center;
}

#global-count>span {
    color: #CED3DC;
    font-size: 14px;
    letter-spacing: .1px;
    margin-right: 10px;
}

#global-count {
    border: 2px solid #CED3DC;
    border-radius: 4px;
    display: inline-block;
    margin: 0 0 30px 10px;
}

.twelve.columns.word-count.account_page {
    float: none;
    margin: 0 auto!important;
    max-width: 767px;
    width: 100%;
}

.user_info .user_data {
    border: 2px solid #CED3DC;
    border-radius: 4px;
    color: #CED3DC;
    display: block;
    margin-bottom: 20px;
    width: 100%;
}

.user_info .user_data:hover {
    border: 2px solid #30394F;
    color: #30394F;
    cursor: pointer;
}

.conect_with_other_social>img {
    padding-top: 9px;
}

.all_social_buttons>div {
    float: left;
    margin-right: 20px;
}

.user_info,
.connected_accounts,
.connect_other_account,
.sharing_options,
.usage {
    margin-bottom: 40px;
    margin-top: 40px;
}

.sharing_options .nc_socialPanel {
    margin-bottom: 0!important;
    margin-top: 0!important;
}

.user_info:after,
.connected_accounts:after,
.connect_other_account:after,
.sharing_options:after,
.usage:after,
.user_storage:after {
    clear: both;
    content: "";
    display: block;
    width: 100%;
}

.user_storage>span.free_place,
.user_storage>span.used_place {
    display: block;
    float: left;
    padding: 20px 0;
}

.user_storage {
    border: 2px solid #30394F;
    border-radius: 4px;
    position: relative;
}

.user_storage>span.used_place {
    background: #6BCCE9;
    border-radius: 2px;
    width: 50%;
}

.storage_size {
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    color: #fff;
    display: block;
    left: 2%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.upgrate_storage .upgrate_storage_button {
    background: #30394F;
    color: #fff;
    display: inline-block;
    padding: 10px 30px;
}

.upgrate_storage .upgrate_storage_button:hover,
.upgrate_storage .upgrate_storage_button:focus,
.upgrate_storage .upgrate_storage_button:active {
    cursor: pointer;
    opacity: .7px;
}

.popup_footer {
    background: #CED3DC;
    padding: 30px;
}

.popup_footer_text {
    float: left;
    padding-top: 10px;
}

.popup_content {
    padding: 30px;
}

.button.popup-button {
    margin-right: 30px;
}

.basicpopup-inner .basicpopup-content {
    border: 2px solid #CED3DC;
    border-radius: 12px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .1), 0 8px 8px rgba(0, 0, 0, .1), 0 16px 16px rgba(0, 0, 0, .1), 0 32px 32px rgba(0, 0, 0, .15), 0 64px 64px rgba(0, 0, 0, .15);
    max-width: 991px;
    padding: 0;
    width: 100%;
}

.popup_content_share {
    font-size: 20px;
    margin: 0 auto;
    max-width: 575px;
    padding: 30px;
    text-align: center;
    width: 100%;
}

.sharing_text a {
    color: #30394F;
    text-decoration: none;
}

.sharing_text a:hover,
.sharing_text a:active,
.sharing_text a:focus {
    cursor: pointer;
    opacity: .7;
}

.popup_content_share #social-buttons {
    float: none;
    margin: 0 auto!important;
}

.popup_content_share>div {
    clear: both;
    display: block;
    width: 100%;
}

.new_textarea {
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    clear: both;
    display: block;
    transition: all .5s ease-in-out;
}

.new_textarea span {
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    background: #fff;
    border: 2px solid #CED3DC;
    border-radius: 4px;
    color: #CED3DC;
    float: left;
    margin-left: 15px;
    opacity: .25;
    padding: 0px 20px;
    transition: all .5s ease-in-out;
    width: 617px;
    height: 60px;
    line-height: 60px;
}

.new_textarea:hover span {
    background: #fff;
    border-color: #CED3DC;
    color: #CED3DC;
    opacity: 1;
}

.new_textarea span.empty-flex-item,
.new_textarea:hover span.empty-flex-item {
    opacity: 0;
}

::placeholder {
    color: #30394f;
    line-height: 2;
    opacity: .5;
}

.nine.columns.soopz-input {
    margin-left: 0;
}

input,
textarea.form-control {
/*    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;*/
    border: 2px solid #CED3DC;
    box-shadow: 0 0 0 0 transparent;
    height: 75px;
    line-height: 2;
    /*transition: all .5s ease-in-out;*/
}

.textarea.form-control {
    width: 100%;
}

input:focus,
textarea.form-control:focus {
    /*transition: all .3s ease-in-out;*/
    /*-webkit-transition:all .3s ease-in-out;*/
    border: 2px solid #30394f;
    box-shadow: 0 10px 30px 0 #CED3DC;
}

.two.columns.counters {
    margin-left: 10px;
}

ul.counters {
    color: #30394f;
    font-size: 10px;
    line-height: 1;
    list-style: none;
}

#social-buttons.ten.columns {
    margin-left: 0;
    max-width: 600px;
}

.update_posts {
    margin-left: 10px;
    margin-right: 10px;
}

footer {
    background-color: #30394f;
    color: #fff;
    font-size: 12px;
    margin: 100px 0 0;
    padding: 40px 20px;
    text-align: center;
}

.social_warfare_logo {
    float: left;
    width: 38%;
}

.credits {
    clear: both;
    font-size: 12px;
}

button.basicpopup-btn-close {
    color: transparent;
}

button.basicpopup-btn-close:before {
    color: #CED3DC;
    content: "\f129";
    font-family: ionicons;
    font-size: 14px;
}

.basicpopup-overlay {
    height: 200%!important;
    overflow: hidden!important;
}

.flex-wrapper {
    -moz-box-align: stretch;
    -moz-box-pack: justify;
    -ms-flex-align: stretch;
    -ms-flex-line-pack: center;
    -ms-flex-pack: justify;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -webkit-box-pack: justify;
    -webkit-justify-content: center;
    align-content: center;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-wrapper.flex-head {
    align-content: space-between;
    align-items: center;
    justify-content: space-between;
}

.flex-head input {
    margin-right: 0;
    opacity: .5;
}

.flex-head input:hover,
.flex-head input:focus {
    opacity: 1;
}

.flex-item {
    -moz-box-flex: 1;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 200px 1;
    margin: 0 10px;
    width: 1px;
}

input.flex-item {
    max-width: 300px;
}

.counters.flex-item {
    border-right: 4px solid #CED3DC;
    max-width: 110px;
}

.flex-wrapper.new_textarea.ion-ios-plus-outline {
    justify-content: flex-start;
    margin-bottom: 30px;
    margin-left: 20px;
}

span.empty-flex-item {
    background: transparent;
    max-width: 115px;
}

.flex-wrapper.soopz-input {
    position: relative;
    margin-bottom: 30px;
    margin-left: 20px;
}

.i_post_remove {
    cursor: pointer;
    position: absolute;
    right: -40px;
}

.fa-remove.wi-remove:before,
.fa-close.wi-remove:before,
.fa-times.wi-remove:before {
    content: "\f05c";
}

i.ion.ion-minus-circled.i_remove_filed {
    cursor: pointer;
    font-size: 20px;
    margin-top: 6px;
}

.copied,
.i_ajax_msg {
    background: #30394F;
    color: #fff;
    display: none;
    font-size: 18px;
    font-weight: 700;
    padding: 15px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 99;
}

#copy_to_clipboard_area {
    left: -99999px;
    position: absolute;
}

.i_relative {
    position: relative;
}

.cursor_default {
    cursor: default;
}

.sign_in_form {
    padding: 20px 0 0;
}

.sign_in_form form input {
    margin-bottom: 10px;
    width: 100%;
}

.sign_in_form form input:active,
.sign_in_form form input:focus {
    border: 2px solid #30394F;
    color: #30394F;
    font-weight: 500;
}

.wp-social-login-provider-list {
    padding: 20px 0;
}

.register_new_account p {
    color: #30394F;
    font-weight: 400;
    margin-top: 40px;
}

.register_new_account p a {
    color: #30394F;
    font-weight: 700;
    text-decoration: none;
}

.register_new_account p a:hover {
    opacity: .7;
}

#i_login_form p.status {
    color: #F5F6F7;
    font-size: 13px;
}

#i_login_form input::placeholder,
.all_posts input.flex-item::placeholder,
#update_user_data input::placeholder {
    line-height: 1;
}

.i_input_helper_div {
    margin-bottom: 16px;
}

.form_control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #F5F6F7;
    border-radius: 4px;
    box-shadow: none;
    color: #F5F6F7;
    font-size: 14px;
    font-weight: 400;
    height: 48px;
    line-height: 2;
    padding: 6px 12px;
    transition: border-color .15s ease-in-out 0 box-shadow .15s ease-in-out 0;
    width: 257px;
}

.form_control:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
    border-color: #6BCCE9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0;
}

.form_control::-moz-placeholder {
    color: #F5F6F7;
    opacity: 1;
}

.form_control::-ms-expand {
    background-color: transparent;
    border: 0;
}

.remember_me_div {
    float: left;
    font-size: 14px;
    margin-top: 6px;
}

.remember_me_div #rememberme {
    float: left;
    height: inherit;
    margin: 8px 6px 0 10px;
    width: inherit;
}

.lost_password_div a {
    font-size: 14px;
    text-align: right;
}

.afterburn {
    color: #D34250;
}

.taser {
    color: #6BCCE9;
}

.recon {
    color: #2A2D34;
}

.hulksmash {
    color: #79EB70;
}

.firestorm-bg {
    background: #EE464F;
    border-color: #EE464F;
    color: #fff;
}

.battleship-bg {
    background: #CED3DC;
    border-color: #CED3DC;
    color: #fff;
}

.taser-bg {
    background: #6BCCE9;
    border-color: #6BCCE9;
    color: #fff;
}

.midnight-bg {
    background: #30394F;
    border-color: #30394F;
    color: #fff;
}

.recon-bg {
    background: #2A2D34;
    border-color: #2A2D34;
    color: #fff;
}

.hulksmash-bg {
    background: #79EB70;
    border-color: #79EB70;
    color: #fff;
}

body>.container,
.sharing_options {
    clear: both;
}

a:hover,
.i_post_remove:hover,
i.ion.ion-minus-circled.i_remove_filed:hover,
.firestorm {
    color: #EE464F;
}

.new_textarea.ion-ios-plus-outline:hover::before,
.post_item_row:hover a,
.post_row div.new_post_item_row a {
    color: #30394f;
}

.header .user-menu,
.popup_footer_buttons {
    float: right;
}

#wrapper,
.i_input_helper_div label {
    display: table;
    width: 100%;
}

.wp-social-login-connect-with,
.wp-social-login-provider.wp-social-login-provider-facebook img,
.wp-social-login-provider.wp-social-login-provider-google img,
.wp-social-login-provider.wp-social-login-provider-twitter img,
#popup-content,
#popup-content-share,
.user_data.form_submit,
.i_hide {
    display: none;
}

.navbar-list.logo,
.text_area_image,
.conect_with_other_social>div,
.conect_with_other_social>img,
.i_input_helper_div .i_helper_span,
.i_input_helper_div .i_helper_span_inherit,
.i_input_helper_div .input-group-btn,
.i_input_helper_div .form_control,
.remember_me_div span {
    float: left;
}

.menu-header-account-menu-container ul,
.user-menu ul li,
textarea.form-control,
ul.counters,
ul.counters li,
.sign_in_form form {
    margin-bottom: 0;
}

.menu-header-account-menu-container ul li a,
footer a {
    text-decoration: none;
}

.textare_buttons:after,
.new_textarea:after {
    clear: both;
    content: "";
    display: block;
    width: 100%;
}

.textare_buttons span,
#global-count>span.item_circle {
    margin-right: 10px;
}

.text_area_image img,
.text_area_images img:last-child,
.all_social_buttons {
    margin-left: 20px;
}

.new_textarea_fild,
.upgrate_storage {
    margin-top: 20px;
}

.post_item_row a,
.bomber,
.destryoyer,
.battleship {
    color: #CED3DC;
}

#i_loading:after,
#i_loading_for_popup:after,
.popup_footer:after {
    clear: both;
    content: "";
    display: block;
    width: 100%;
}

.twelve.columns.word-count.account_page h4,
.midnight {
    color: #30394F;
}

ul.counters li.char-count:before,
ul.counters li.word-count:before,
ul.counters li.par-count:before {
    content: "";
    font-family: ionicons;
}

.form_control:-ms-input-placeholder,
.form_control::-webkit-input-placeholder {
    color: #F5F6F7;
}

.login_submit_div,
.lost_password_div {
    text-align: right;
}


/* Media Queries --------------------------------------------------------------- */

@media screen and max-width 1255px {
    .footer_left_part,
    .footer_right_part,
    #social-buttons {
        float: none;
        width: 100%;
    }
}

@media screen and max-width 667px {
    .footer_text {
        clear: both;
        float: none;
        padding-left: 0;
        width: 100%;
    }
    .nine.columns.soopz-input,
    .two.columns.counters,
    .text_area_items {
        width: 100%;
    }
}

@media screen and max-width 400px {
    .footer_photos {
        text-align: center;
    }
    .footer_photos aside {
        float: none;
    }
}

textarea.autoExpand.form-control {
    display: block;
    overflow: hidden;
    height: auto !important;
    min-height: 0 !important;
}

textarea.autoExpand {
    display: block;
    overflow: hidden;
    height: auto !important;
    max-height: none !important;
}


/*
.i_post_input_item_div div.flex-wrapper.soopz-input {
    display: block;
}*/

.select_social_type {
    cursor: pointer;
}

.social_types {
    display: none;
    border: 2px solid #F5F6F7;
    padding: 0px 10px;
    border-radius: 39px;
    position: absolute;
    height: 56px;
    background: #fff;
    left: 0px;
    z-index: 9999;
    top: 10px;
}

.social_types i {
    padding: 0px 8px;
    display: inline-block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
    margin-right: 5px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.social_types i.social_facebook{padding:0px 8px;}
.social_active_type {
    display: inline-block !important;
    border-radius: 50%;
    font-size: 24px !important;
    padding: 0 15px;

    position: relative;
    top: 50%;
    transform: translateY(-50%) !important;
}
.social_instagram.social_active_type,
.social_active_type.social_facebook,
.social_linkedin.social_active_type,
.social_twitter.social_active_type,
.social_google-plus.social_active_type,
.social_pinterest.social_active_type{
    padding: 0px 12px;
        position: relative;
    height: 48px;
    width: 48px;
}
.social_instagram.social_active_type:before,
.social_active_type.social_facebook:before,
.social_linkedin.social_active_type:before,
.social_twitter.social_active_type:before,
.social_google-plus.social_active_type:before,
.social_pinterest.social_active_type:before{
    position: absolute;
    top: 53%;
    transform: translateY(-50%) !important;
}
/*.social_twitter.social_active_type{padding:0 12.94px;}*/
/*.social_google-plus.social_active_type,.social_pinterest.social_active_type{padding: 0 13.5px;}*/
.social_profile {
    color: #2A2D34;
    background: #CED3DC;
}


.social_facebook {
    background: #3A589E;
}

.social_linkedin {
    background: #0D77B7;
}

.social_twitter {
    background: #429CD6;
}

.social_instagram {
    background: #E4405F;
}

.social_google-plus {
    background: #DF4B37;
}

.social_pinterest {
    background: #CD2029;
}

.social_active_block {
    display: none;
    position: absolute;
    height: auto;
    width: 250px;
    right: -250px;
    top:0;
    background: #F5F6F7;
    margin-top: 80px;
    z-index: 1;
    border: 1px solid #CED3DC;
}

.social_active_block .social_top_block {
    height: 30px;
}

.social_active_block .social_top_block i {
    color: #fff;
    font-size: 17px;
    margin: 11px;
    line-height: 30px;
}

.social_block {
    padding: 0 20px;
    margin-bottom: 15px;
}

.social_block .content_icons {
    line-height: 50px;
}

.social_block i.main_icon_content {
    float: left;
    font-size: 20px;
    margin-right: 8px;
    height: 50px;
    line-height: 50px;
}

.social_block h3 {
    font-size: 16px;
    margin: 0;
    margin-right: 10px;
    /* padding-top: 8px; */
    float: left;
    line-height: 50px;
}

.social_block ul {
    clear: both;
    margin-left: 20px;
    margin-bottom: 0;
}

.social_block ul li {
    list-style: none;
    height: 22px;
    line-height: 0;
}

.social_block ul li:last-child {
    margin-bottom: 0;
}

.social_block ul li i {
    margin-right: 7px;
}

.green_icon {
    color: #79EB70;
}

.white_icon {
    color: #fff;
}
.blue_icon{
    color:#6BCCE9;
}
.white_icon_borders::before {
    color: #fff;
    border: 1px solid #2A2D34;
    border-radius: 50%;
}

.green_icon_borders::before {
    color: #79EB70;
    border: 1px solid #79EB70;
    border-radius: 50%;
    height: 14px;
    line-height: 14px!important;
}
.grey_icon_borders::before {
    color: #CED3DC;
    border: 1px solid #CED3DC;
    border-radius: 50%;
    height: 14px;
    line-height: 14px!important;
}

.grey_icon {
    color: #CED3DC;
}

.red_icon {
    color: #EE464F;
}

.social_block p {
    clear: both;
    font-size: 13px;
    line-height: 1.4;
    margin-bottom: 0;
    font-weight: 600;
}

.social_block button {
    color: #fff;
    float: left;
    text-transform: none;
    padding: 0 8px;
    font-size: 14px;
    margin-right: 5px;
    border: 1px solid #f5f6f7;
    line-height: 30px;
}

.social_block .social_buttons {
    clear: both;
}

.social_trending i.main_icon_content,.ask_questions i.main_icon_content {
    font-size: 27px;
    clear: both;
}

.image_uploader {
    position: absolute;
    right: 157px;
    top: 8px;
    color: #CED3DC;
    cursor: pointer;
}

.image_uploader i {
    font-size: 30px;
}

.image_uploader::before {
    content: '+';
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    line-height: 27px;
}

.image_uploader2 {
    position: absolute;
    right: 142px;
    top: 2px;
    opacity: .5;
    /* height: 84px; */
    /* background: #F5F6F7; */
    display: none;
}

.image_uploader2 input[type="file"] {
    display: none;
}

.image_uploader2 .custom-file-upload {
    display: table;
    text-align: center;
    width: 80px;
    cursor: pointer;
    height: 72px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-bottom: 0;
    border-left: 2px dashed #F5F6F7;
    background: #F5F6F7;
}

.image_uploader2 .custom-file-upload i {
    color: #2A2D34;
    font-size: 20px;
    display: table-cell;
    vertical-align: middle;
}

.image_uploader3 {
    margin: 15px;
    position: absolute;
    right: 140px;
    top: 0px;
    background: #CED3DC;
    height: 100px;
    width: 100px;
    line-height: 89px;
    text-align: center;
    display: none;
    border: 2px solid #30394f;
    cursor: pointer;
    border-radius: 4px;

}

.image_uploader3 img {
/*    width: 96px;
    height: 96px;*/
min-width: 100%;
    min-height: 100%;
    position: absolute;
    max-width: 150%;
    max-height: 130%;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%); /* IE 9 */
    -webkit-transform: translate(-50%,-50%); /* Safari */
    transform: translate(-50%,-50%);
}
.image_uploader3 div{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}
.image_uploader3 i {
    position: absolute;
    right: -11px;
    top: -46px;
    cursor: pointer;
    z-index: 99;
    height: 0px;
    color: #2A2D34;
    display: none;
}

.image_uploader3:hover i {
    display: block;
}

.popup-content-image {
    display: none;
}

.basicpopup-inner .basicpopup-content.popup-preview-image {
    background: none;
    text-align: center;
    border: none;
    box-shadow: none;
    overflow: hidden;

}
.basicpopup-inner .basicpopup-content.popup-preview-image img{max-width: 100%;max-height: 100%;}
.popup-preview-image .basicpopup-btn-close {
    display: none;
}

.i_post_editor_input{padding-right: 125px;}

.all_posts form{
    margin: 40px 0;
    float: right;
}

.all_posts form .select_filter_label.scores_filter .select_filter ul.list>li.option:first-child{
    font-family: Lato, sans-serif !important;
}

.all_posts form .select_filter{
    background: #30394f;
    color: #fff;
    padding: 0 16px;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0;
    width: 132px;
    font-size: 13px;
    min-height: 39px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-transform: uppercase;

}
/*.all_posts form .select_filter .list li:first-child{
    display: none;
}*/
.all_posts form .select_filter .list li:hover{
    background: #F5F6F7;
}
.all_posts form .select_filter_label{
    float:left;
    margin-right: 20px;
    position: relative;
    margin-top: 10px;
}

.all_posts form .search{
    position: relative;
    width: 300px;
}
.all_posts form .search_icon{
    position: absolute;
    right: 12px;
    top: 50px;
    /*top: 48px;*/
    color: #F5F6F7;
    font-size: 21px;
    border: 0;
    padding: 0;
}

.score_div,.date_div{ float: left;}
.score_div{
    margin-right: 50px;
}
.post_score i{margin-right: 7px;}
.post_score,.post_date,.remove_post{
    height: 70px;
    line-height: 70px;
    float: left;
}
.post_score{margin-right: 20px}
.post_remove{color: #CED3DC;
    font-size: 24px;cursor: pointer;}
.post_date span{margin-right: 20px;}

.scores_filter .nice-select .option,.scores_filter .nice-select .option span{
    font-family: Ionicons;font-size: 18px;padding-right: 10px;
}
.nice-select .option {
    font-family: Lato, sans-serif;
}
.header-menu{
    margin-top: 22px;
        margin-left: 15%;
    float:left;}
.header-menu ul{list-style: none;
    margin: 0;}
.header-menu li{
    margin: 0;
    float: left;}
.header-menu ul li a{    height: 58px;
    display: block;
    background: #CED3DC;
    line-height: 58px;
    text-decoration: none;
    color: #30394f;
    text-align: center;
    width: 160px;
    font-weight: bold;}
.header-menu ul li:first-child a{
    border-radius: 8px 0 0 0;
}
/*.first_item_box_shadow{
        box-shadow: 10px 0px 6px -2px #F5F6F7;
    -webkit-box-shadow: 10px 0px 6px -2px #F5F6F7;
    position: relative;
    z-index: 2;
}

.last_item_box_shadow{
        box-shadow: 10px 0px 6px -2px #F5F6F7;
    -webkit-box-shadow: 10px 0px 6px -2px #F5F6F7;
    position: relative;
    z-index: 1;
}*/

.header-menu li:after {
    box-shadow: 3px 0px 12px 0px rgba(48, 57, 79, 0.3);
    content: ' ';
    width: 10px;
    height: 104%;
    position: absolute;
    top: -2%;
    left: -10px;
    z-index: 9999;
    display: block;
}
.header-menu li.current_page_item:after {
    box-shadow: none;
}
/*.header-menu li.current_page_item:before {
    box-shadow: 3px 0px 12px 0px rgba(48, 57, 79, 0.3);
    content: ' ';
    width: 10px;
    height: 104%;
    position: absolute;
    top: -2%;
    left: -10px;
    z-index: 9999;
    display: block;
}*/
.header-menu li.current_page_item:first-child:before {
    width: 0;
}
.header-menu ul li:first-child:after {
    box-shadow: none;
}
.header-menu ul li{
    position: relative;
    overflow: hidden;
}
.header-menu ul li:last-child a{
    border-radius: 0 8px 0 0;
}
.header-menu ul li.current_page_item a{
    background: #fff;
}
.date_filter{cursor:pointer;}
.date_filter i{    font-size: 13px;
    margin-left: 3px;
    color: #30394f;}
.campaign_input{margin-left: 0px!important;}
.campaign_icon i{display: inline-block !important;
    border-radius: 50%;
    font-size: 24px !important;
    padding: 0 15px;
    position: relative;
    background: #ced3dc;
    top: 50%;
    transform: translateY(-50%) !important;}
.campaign_images{    padding: 10px 60px;}
.campaign_images .block_image{display: inline-block;margin-right: 20px;}
.campaign_images .block_image:last-child{margin-right: 0;}
.campaign_images .inner_image{
    border: 2px solid #ced3dc;
    display: inline-block;
    padding: 10px 25px;
    height: 100%;
    vertical-align: middle;
    }
.campaign_images .inner_image i{
    font-size: 26px;
    opacity: .3;
    display: inline-block;
    vertical-align: middle;
    }
.campaign_images .inner_image::before {
    content: '+';
    font-size: 20px;
    display: inline-block;
    opacity: .3;
    margin-right: 0px;
    margin-top: -2px;
    vertical-align: middle;
}
.campaign_images .inner_image h3{
    font-size: 18px;
    margin-left: 32px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    color: #2A2D34;
    vertical-align: middle;
        letter-spacing: 0;
}
.campaign_page .i_relative{margin-right: 100px}
.campaign_page .i_relative #btn-generate{background: #6BCCE9;
    border: 2px solid #6BCCE9;
    color: #fff;}
.campaign_page .i_relative #btn-generate:hover{
        background: #30394f;
    border: 2px solid #30394f;
    color: #fff;
}
.campaign_page .i_relative #btn-save{background:#CED3DC;color:#000;border: 2px solid #CED3DC;}
.campaign_page .i_relative span{
    padding: 5px 30px;font-weight: bolder}
.delete_acc{    color: #F5F6F7;
    text-decoration: none;
    display: block;
    margin-top: 30px;}

.button.buffer-button:before {
    content: "z";
    font-family: sw-icon-font;
    margin-right: 15px;
}
.delete_field{display: none;}
#btn_update_post{    background: #6BCCE9;
    border: 2px solid #6BCCE9;
    color: #fff;}
#btn_update_post:hover{    color: #fff;
    border-color: #303950;
    background: #303950;
    }

.select_filter .list li:first-child{display:none;}
.image_uploader2 input{border:none;}
.required_field{border: 1px solid #EE464F!important;}