
@font-face {
  font-family: 'sw-icon-font';
  src: url('sw-icon-font.eot?#iefix') format('embedded-opentype'),  url('sw-icon-font.woff') format('woff'), url('sw-icon-font')  format('truetype'), url('sw-icon-font.svg#sw-icon-font') format('svg');
  font-weight: normal;
  font-style: normal;
}


.sw {
    display: inline-block;
    font-family: sw-icon-font!important;
    font-size: inherit;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    text-rendering: auto;
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.sw:before {
    display: block!important;
}
.sw-google-plus:before {
    content: "h";
}

.sw-pinterest:before {
    content: "b";
}

.sw-twitter:before {
    content: "s";
}

.sw-facebook:before {
    content: "j";
}

.sw-linkedin:before {
    content: "f";
}

.sw-tumblr:before {
    content: "r";
}

.sw-stumbleupon:before {
    content: "q";
}

.sw-reddit:before {
    content: "a";
}
.sw-instagram:before {
    content: "g";
}
.sw-email:before {
    content: "k";
}

.sw-yummly:before {
    content: "x";
}

.sw-whatsapp:before {
    content: "y";
}

.sw-pocket:before {
    content: "B";
}

.sw-buffer:before {
    content: "z";
}

.sw-hacker_news:before {
    content: "D";
}

.sw-flipboard:before {
    content: "C";
}

.sw-social-warfare:before {
    content: "p";
}